.addForm{
    padding: 5vw;
}

.paddingRight{
    padding-right: 1vw;
}
.paddingLeft{
    padding-left: 1vw;
}
.marginTextBox{
    margin: 0 1vw 0 1vw;
}
.marginLeft{
    margin-left: 1vw;
}
.table{
    margin-top: 5vw;
    width: 50%;
}